*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
}

.menu, .contacts{
    list-style: none;
}

.menu li, .contacts li, .mail{
    display: inline;
    margin-left: 10px;
}