.faq{
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: white;
  padding-bottom: 80px;
  padding-top: 80px;

  &--list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &--item{
      max-width: 600px;
      padding: 28px 0;
      border-top: 0.5px solid #D0D5DD;
      border-bottom: 0.5px solid #D0D5DD;
      margin-right: 24px;

      &:nth-child(2){
        page-break-after: always;
      }

      p{
        display: none;

        &.active{
          display: block;
        }
      }

      &--text{
        font-family: 'SF Pro Text', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
      }

      &--title{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &--svg{
          min-width: 60px;
          min-height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: white;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
          border-radius: 100px;

          &:hover{
            cursor: pointer;
          }

          &.active{
            box-shadow: none;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}