@import "mixins";

@media (max-width: 768px){

  /*GENERAL*/

  .container{
    padding-left: 33px;
    padding-right: 33px;
  }

  /*HEADER AND MOBILE MENU*/

  .mobile__menu{
    display: flex;
  }

  .header{
    margin: 7px 0;
    padding: 25px 32px;
    max-width: unset;
    width: unset;

    a{
      flex: 1;
      text-align: center;
    }
  }

  .header__burger--wrapper,
  .header__email{
    flex: 0 0 33%;
  }

  .header__email{
    justify-content: flex-end;
  }

  .header__burger{
    display: block;
  }

  .header__menu--items, .header__contacts{
    display: none;
  }

  /*SCREENSHOTS*/

  .screenshots--groups{
    top: -60px;

    &--items--item{
      width: 138px;
      height: 298px;
      margin: 10px;
      border-radius: 24px;
    }
  }

  @mixin animation-template-3($direction: 1, $back-url: $background-url-3, $offset: 0){
    0% {
      transform: translate(0, 0);
    }
    73% {
      @include screenshot($back-url);
      transform: translate(0, $direction * (-1457px - $offset));
    }
    74% {
      background: none;
      transform: translate(0, $direction * (-1457px - $offset));
    }
    100% {
      transform: translate(0, 0);
      @include screenshot($back-url);
    }
  }

  @keyframes screenshots-animation-1 {
    @include animation-template-1($offset: 800px);
  }

  @keyframes screenshots-animation-2 {
    @include animation-template-2($offset: 800px);
  }

  @keyframes screenshots-animation-3 {
    @include animation-template-3($offset: 800px);
  }

  @keyframes screenshots-animation-4 {
    @include animation-template-3(-1, $background-url-4, 800px);
  }

  @keyframes screenshots-animation-5 {
    @include animation-template-2(-1, $background-url-5, 800px);
  }

  @keyframes screenshots-animation-6 {
    @include animation-template-1(-1, $background-url-6, 800px);
  }

  .screenshot{
    &__1, &__2, &__3, &__4, &__5, &__6{
      animation-duration: 7s;
      animation-timing-function: cubic-bezier(1,-0.01,0,1);
    }
  }

  /*WELCOME*/

  .welcome{
    max-width: 383px;
    margin: 32px 0;

    &__text{
      margin-bottom: 32px;
    }

    &__form{
      width: unset;
      justify-content: left;

      form{
        flex-direction: column;
      }

      &__button{
        width: unset;
        align-self: flex-start;
      }
    }
  }

  /*DEV_INFO*/

  %flex-50{
    flex: 0 0 50%;
  }

  .dev__info{
    padding: 32px 40px;
    gap: 82px;
    align-items: unset;

    &--services{
      @extend %flex-50;
      padding-top: 128px;
    }

    &--technologies--options{
      @extend %flex-50;
      max-width: unset;

      &--option{
        max-width: 277px;
      }
    }
  }

  /*DEV_INDUSTRIES*/

  .dev__industries{
    padding-top: 44px;
    padding-bottom: 44px;

    h1{
      max-width: 380px;
    }

    &--list{
      max-height: 460px;
    }
  }

  /*PROJECTS*/

  .projects{

    p{
      min-width: 460px;
    }

    &--examples{

      &--window{

        &--info{

          &--text{
            margin-top: -90px;

            &--tech{

              span{
                font-size: 14px;
              }
            }
          }

          &--image__wrapper{
            height: 215px;
            align-self: end;
            margin-left: -130px;

            &--image{
              width: 370px;
              height: 215px;
            }
          }
        }

        &--selector{
          flex-direction: column;
          gap: 50px;
          margin: 44px 16px;

          &--list{
            gap: 30px;
          }

          &--button{
            align-self: end;
          }
        }
      }
    }
  }

  /*DISCUSS__PROJECT*/

  .discuss__project{
    flex-direction: column;
    align-items: start;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;

    &--text{
      gap: 32px;
    }

    h1{
      max-width: 195px;
    }

    p{
      max-width: 350px;
    }
  }

  /*DEV_STAGES*/

  .dev__stages{
    padding-top: 32px;
    padding-bottom: 32px;
    max-height: unset;

    &--list{
      flex-wrap: nowrap;
      max-height: unset;

      &--item{
        max-width: unset;

        p{
          max-width: 500px;
        }
      }
    }
  }

  /*OUR_TEAM*/

  .our__team{
    position: relative;

    &--text{
      max-width: unset;

      #our-team-before-media{
        margin-bottom: 475px;
        max-width: 415px;
      }
    }

    &--media{
      position: absolute;
      top: 275px;

      &--upper{
        min-width: 707px;

      }
    }
  }

  /*BOOK*/

  .book{
    padding-bottom: 76px;
    padding-top: 76px;
    position: relative;

    &--info{

      h1{
        min-width: 455px;
      }

      &--form{

        form{
          align-items: start;
          gap: 48px;
        }

        &--inputs{
          flex-direction: column;
          width: 100%;
          gap: 48px;
        }
      }
    }

    &--content{
      position: absolute;
      bottom: 35px;
      left: 150px;

      &--image{
        min-width: 283px;
        min-height: 428px;
      }
    }
  }

  /*FAQ*/

  .faq{

    &--list{

      &--item{
        max-width: unset;

        &:nth-child(2){
          page-break-after: unset;
        }
      }
    }
  }

  /*FOOTER*/

  footer{
    bottom: 0;
    margin: 0 8px;
    gap: 18px;
  }

  /*TYPOGRAPHY*/

  .title-1-bold{
    font-size: 28px;
  }

  .subtitle-2-bold-Inter{
    font-size: 16px;
  }

  .sf-title-3-regular{
    font-size: 14px;
  }

  .sf-title-3-semibold{
    font-size: 14px;
  }
}

@media (max-width: 425px) {

  /*GENERAL*/

  .container{
    padding-left: 16px;
    padding-right: 16px;
  }

  /*HEADER AND MOBILE MENU*/

  %burger-lines-media{
    height: 4px;
    width: 40px;
  }

  .header{
    h2{
      padding-right: 40px;
    }

    &__email{
      display: none;
    }

    &__burger{
      width: 40px;
      height: 20px;

      &--wrapper{
        flex: 0;
      }

      span{
        @extend %burger-lines-media;
        top: 8px;
      }

      &:before{
        @extend %burger-lines-media;
      }

      &:after{
        @extend %burger-lines-media;
      }
    }
  }

  .mobile__menu{
    h1{
      font-size: 20px;
      line-height: 18px;
    }

    &--items{
      gap: 21px;

      &--item{
        font-size: 24px;
      }
    }

    &--contacts--list{
      flex-direction: column;
      gap: 22px;
      padding: 0 18px;

      &--item{
        font-size: 14px;
      }
    }
  }

  /*SCREENSHOTS*/

  .screenshots--groups{
    top: 380px;

    &--items--item{
      width: 138px;
      height: 271px;
      margin: 10px;
      border-radius: 24px;
    }
  }

  @mixin animation-template-3($direction: 1, $back-url: $background-url-3, $offset: 0){
    0% {
      transform: translate(0, 0);
    }
    73% {
      @include screenshot($back-url);
      transform: translate(0, $direction * (-1457px - $offset));
    }
    74% {
      background: none;
      transform: translate(0, $direction * (-1457px - $offset));
    }
    100% {
      transform: translate(0, 0);
      @include screenshot($back-url);
    }
  }

  @keyframes screenshots-animation-1 {
    @include animation-template-1($offset: 800px);
  }

  @keyframes screenshots-animation-2 {
    @include animation-template-2($offset: 800px);
  }

  @keyframes screenshots-animation-3 {
    @include animation-template-3($offset: 800px);
  }

  @keyframes screenshots-animation-4 {
    @include animation-template-3(-1, $background-url-4, 800px);
  }

  @keyframes screenshots-animation-5 {
    @include animation-template-2(-1, $background-url-5, 800px);
  }

  @keyframes screenshots-animation-6 {
    @include animation-template-1(-1, $background-url-6, 800px);
  }

  .screenshot{
    &__1, &__2, &__3, &__4, &__5, &__6{
      animation-duration: 5s;
    }
  }

  /*WELCOME*/

  .welcome__text{
    margin-bottom: 530px;
  }

  /*DEV_INFO*/

  .dev__info{
    flex-direction: column;
    gap: 44px;

    &--services{
      padding: unset;
    }
  }

  /*DEV_INDUSTRIES*/

  .dev__industries{

    &--list{

      &--item{

        span{
          max-width: 110px;
        }
      }
    }
  }

  /*PROJECTS*/

  .projects{

    p{
      min-width: 390px;
    }

    &--examples{

      &--window{

        &--info{
          position: relative;

          &--image__wrapper{
            margin-left: unset;
            position: absolute;
            top: -220px;
          }

          &--text{
            margin-top: unset;
          }
        }

        &--selector{
          margin: 32px 0;

          &--list{
            flex-wrap: wrap;
            gap: 20px;
            margin-bottom: 240px;
          }

          &--button{
            display: none;
          }
        }
      }
    }
  }

  /*DISCUSS_PROJECT*/

  .discuss__project{
    gap: 128px;

    &--form{
      width: 100%;

      form{
        width: 100%;
        align-items: unset;
      }

      &--button{
        align-self: center;
      }

      &--inputs{
        flex-direction: column;
      }
    }
  }

  /*DEV_STAGES*/

  .dev__stages{

    h1{
      max-width: 310px;
    }
  }

  /*OUR_TEAM*/

  .our__team{
    padding-top: 28px;
    padding-bottom: 28px;

    &--text{

      &--stats{

        &--item{

          &--title{
            font-size: 28px;
            line-height: 24px;
          }
        }
      }

      #our-team-before-media{
        margin-bottom: 280px;
      }
    }

    &--media{
      top: 210px;

      &--upper{
        min-width: 392px;
        min-height: 237px;
      }

      &--under{
        width: 380px;
        height: 230px;
        top: 25px;
        left: 5px;
      }
    }
  }

  /*BOOK*/

  .book{
    padding-bottom: 50px;
    padding-top: 50px;

    &--content{
      bottom: unset;
      left: 0;
      top: 230px;

      &--image{
        min-width: 160px;
        min-height: 240px;
      }
    }

    &--info{
      padding-right: 48px;
      padding-left: 48px;

      &--form{
        width: 100%;
      }

      h1{
        min-width: unset;
        max-width: 335px;
        margin-bottom: 270px;
      }
    }
  }

  /*FAQ*/

  .faq{
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 32px;
  }

  /*FOOTER*/

  footer h1{
    font-size: 32px;
  }

  .footer{
    &__list--elements{
      flex-wrap: wrap;
      justify-content: space-between;

      &--element{
        min-width: 142px;
      }
    }
  }

  /*TYPOGRAPHY*/

  .sf-title-3-medium{
    font-size: 14px;
  }

  .text-medium{
    font-size: 14px;
  }
}