@import "mixins";

.screenshots--groups{
  position: absolute;
  right: 0;
  top: -600px;
  display: flex;
  flex-direction: row;
  z-index: -1;
  transform: rotate(-12deg);
  overflow: hidden;

  &--items{
    display: flex;
    flex-direction: column;

    &--item{
      position: relative;
      width: 292px;
      height: $screenshot-height;
      margin: 15px;
    }
  }
}

.screenshot{
  &__1{
    @include screenshot($background-url-1);
    animation: screenshots-animation-1 20s linear infinite;
  }

  &__2{
    @include screenshot($background-url-2);
    animation: screenshots-animation-2 20s linear infinite;
  }

  &__3{
    @include screenshot($background-url-3);
    animation: screenshots-animation-3 20s linear infinite;
  }

  &__4{
    @include screenshot($background-url-4);
    animation: screenshots-animation-4 20s linear infinite;
  }

  &__5{
    @include screenshot($background-url-5);
    animation: screenshots-animation-5 20s linear infinite;
  }

  &__6{
    @include screenshot($background-url-6);
    animation: screenshots-animation-6 20s linear infinite;
  }
}

@keyframes screenshots-animation-1 {
  @include animation-template-1();
}

@keyframes screenshots-animation-2 {
  @include animation-template-2();
}

@keyframes screenshots-animation-3 {
  @include animation-template-3();
}

@keyframes screenshots-animation-4 {
  @include animation-template-3(-1, $background-url-4);
}

@keyframes screenshots-animation-5 {
  @include animation-template-2(-1, $background-url-5);
}

@keyframes screenshots-animation-6 {
  @include animation-template-1(-1, $background-url-6);
}