.dev__info{
    display: flex;
    flex-direction: row;
    background: white;
    padding: 80px 108px;
    gap: 232px;
    align-items: center;
}

.dev__info--technologies--options, .dev__info--services{
    display: flex;
    flex-direction: column;
}

.dev__info--technologies--options{
    gap: 32px;
    max-width: 600px;
}

.dev__info--technologies--option{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 496px;
}

.dev__info--services{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.dev__info--services a{
    display: flex;
    gap: 21px;
    align-items: center;
}

.dev__info--services a:hover{
    text-decoration: underline #2D66EE;
}