footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 40px;
    background: #101828;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin: 0 108px;
    color: #FFFFFF;
    position: sticky;
    bottom: 10px;
}

footer h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 18px;
}

.footer__list--elements, .footer__list--epilogue{
    display: flex;
    flex-direction: row;
}

.footer__list--elements{
    width: 100%;
    justify-content: space-between;
}

.footer__list--element{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__list--element a{
    text-decoration: none;
    color: white;
}

.footer__list--element--label{
    display: flex;
    flex-direction: row;
    gap: 13px;
    align-items: center;
}

.footer__list--element--label p{
    color: #98A2B3;
}

.footer__list--epilogue{
    gap: 12px;
}

.footer__list--epilogue p{
    color: white;
}