body{
    background-color: #f1f3f7;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

a{
    text-decoration: none;
}

.container{
    padding-left: 108px;
    padding-right: 108px;
}

*{
    box-sizing: border-box;
}