.header{
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 16px 24px;
    align-items: center;
    margin: 24px 0;
    justify-content: space-between;
    max-width: 1124px;
    width: 100%;
    z-index: 50;
}

.sticky__header{
    position: sticky;
    top: 0;
}

.header__burger__menu{
    display: none;
    position: relative;
    height: 42px;
}

.header__burger__menu span, .header__burger__menu:before, .header__burger__menu:after{
    content: '';
    background: #2D66EE;
    position: absolute;
    height: 8px;
    left: 0;
    width: 59px;
}

.header__burger__menu:before{
    top: 0;
}

.header__burger__menu:after{
    bottom: 0;
}

.header__burger__menu span{
    top: 17px;
}

.header h2{
    color: #2D66EE;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
}

.header__menu--items,
.header__contacts,
.header__email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__menu--items{
    gap: 24px;
}

.header__contacts{
    gap: 16px;
}

.header__email{
    gap: 10px;
}

.header__menu--items a{
    color: black;
}

.header__contacts a, .header__email a{
    color: #2D66EE;
}

