@media (max-width: 768px){
    
    /*GENERAL*/
    
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    
    /*HEADER AND MOBILE MENU*/
    
    .mobile__menu{
        display: flex;
    }

    .header{
        margin: 7px 0;
        padding: 25px 32px;
        max-width: unset;
        width: unset;
    }

    .header > a{
        flex: 1;
        text-align: center;
    }

    .header__burger--wrapper,
    .header__email{
        flex: 0 0 33%;
    }

    .header__email{
        justify-content: flex-end;
    }

    .header__burger{
        display: block;
    }

    .header__menu--items, .header__contacts{
        display: none;
    }
    
    /*SCREENSHOTS*/

    .screenshots--groups{
        top: -60px;
    }

    .screenshots--item{
        width: 138px;
        height: 298px;
        margin: 10px;
        border-radius: 24px;
    }
    
    /*WELCOME*/

    .welcome{
        max-width: 383px;
        margin: 32px 0;
    }

    .welcome__text{
        margin-bottom: 32px;
    }

    .welcome__form{
        width: unset;
        justify-content: left;
    }

    .welcome__form form{
        flex-direction: column;
    }

    .welcome__form__button{
        width: unset;
        align-self: flex-start;
    }
    
    /*DEV_INFO*/

    .dev__info{
        padding: 32px 40px;
        gap: 82px;
        align-items: unset;
    }

    .dev__info--services,
    .dev__info--technologies--options{
        flex: 0 0 50%;
    }

    .dev__info--technologies--options{
        max-width: unset;
    }

    .dev__info--technologies--option{
        max-width: 277px;
    }

    .dev__info--services{
        padding-top: 128px;
    }
    
    /*FOOTER*/

    footer{
        bottom: 0;
        margin: 0 8px;
        gap: 18px;
    }
    
    /*TYPOGRAPHY*/

    .title-1-bold{
        font-size: 28px;
    }

    .subtitle-2-bold-Inter{
        font-size: 16px;
    }

    .title-3-regular{
        font-size: 14px;
    }

    .sf-title-3-semibold{
        font-size: 14px;
    }
}

@media (max-width: 425px) {

    /*GENERAL*/

    /*HEADER AND MOBILE MENU*/

    .header__email{
        display: none;
    }

    .header h2{
        padding-right: 40px;
    }

    .header__burger--wrapper{
        flex: 0;
    }

    .header__burger{
        width: 40px;
        height: 20px;
    }

    .header__burger span, .header__burger:before, .header__burger:after{
        height: 4px;
        width: 40px;
    }

    .header__burger span{
        top: 8px;
    }

    .mobile__menu h1{
        font-size: 20px;
        line-height: 18px;
    }

    .mobile__menu--items{
        gap: 21px;
    }

    .mobile__menu--item{
        font-size: 24px;
    }

    .mobile__menu--contacts--list{
        flex-direction: column;
        gap: 22px;
        padding: 0 18px;
    }

    .mobile__menu--contacts--item{
        font-size: 14px;
    }

    /*SCREENSHOTS*/

    .screenshots--groups{
        top: 380px;
    }

    .screenshots--item{
        width: 138px;
        height: 271px;
        margin: 10px;
        border-radius: 24px;
    }

    /*WELCOME*/

    .welcome__text{
        margin-bottom: 530px;
    }

    /*DEV_INFO*/

    .dev__info{
        flex-direction: column;
        gap: 44px;
    }

    .dev__info--services{
        padding: unset;
    }

    /*FOOTER*/

    footer h1{
        font-size: 32px;
    }

    .footer__list--elements{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer__list--element{
        min-width: 142px;
    }

    /*TYPOGRAPHY*/
}