.screenshots--groups{
    position: absolute;
    right: 0;
    top: -600px;
    display: flex;
    flex-direction: row;
    z-index: -1;
    transform: rotate(-12deg);
}

.screenshots--group--items{
    display: flex;
    flex-direction: column;
}

.screenshots--item{
    position: relative;
    width: 292px;
    height: 633px;
    margin: 15px;
}

.screenshot__1{
    background: url("../img/screenshot1.png") no-repeat center;
    background-size: cover;
}

.screenshot__2{
    background: url("../img/screenshot2.png") no-repeat center;
    background-size: cover;
}

.screenshot__3{
    background: url("../img/screenshot3.png") no-repeat center;
    background-size: cover;
}

.screenshot__4{
    background: url("../img/screenshot4.png") no-repeat center;
    background-size: cover;
}

.screenshot__5{
    background: url("../img/screenshot5.png") no-repeat center;
    background-size: cover;
}

.screenshot__6{
    background: url("../img/screenshot6.png") no-repeat center;
    background-size: cover;
}