.screenshots{
    position: absolute;
    /*width: 1154px;
    height: 1280px;*/
    max-width: 1154px;
    max-height: 1280px;
    width: 100%;
    height: 100%;
    right: 0;
    background-size: cover;
    background: url(../img/screenshots.png) no-repeat;
    z-index: -1;
}