.title-1-bold{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    color: #000000;
}

.subhead-medium{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.text-medium{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.subtitle-2-bold-Inter{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.caption-1-medium{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.subhead-semibold{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    /* White */
    color: #FFFFFF;
}

.title-3-regular{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: black;
}

.caption-1-regular{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.sf-title-3-semibold{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
}

.sf-title-2-semibold{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.sf-title-2-regular{
    font-family: 'SF Pro Text', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.blue-text{
    color: #2D66EE;
}