.welcome{
    margin: 80px 0;
    max-width: 600px;
}

.welcome__title{
    margin-bottom: 24px;
}

.welcome__text{
    margin-bottom: 64px;
}

.welcome__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: fit-content;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}

.welcome__form form{
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: end;
}

.welcome__form input[type="submit"]{
    white-space: normal;
    text-align: left;
}

.welcome__form__input-box__input{
    border: none;
    border-bottom: 1px solid #D0D5DD;
    background-color: transparent;
    outline: none;
}

.welcome__form__input-box{
    display: flex;
    flex-direction: column;
}

.welcome__form__input-box label{
    color: #667085;
}

.welcome__form__button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    gap: 8px;
    border: none;
    width: 132px;

    background: #2D66EE;
    border-radius: 8px;
}

.welcome__form__button:hover{
    cursor: pointer;
}